h1,
p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 5em;
  font-weight: bold;
}

p {
  font-size: 1.5em;
}

body {
  background-color: #6abe83;
  color: #dee2d1;
}

.chevron {
  display: inline-block;
  position: relative;
  clear: both;
  padding: 12px;
  height: 20px;
  width: 150px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chevron:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background: #f06966;
  color: white;
  -webkit-transform: skew(60deg, 0deg);
  -moz-transform: skew(60deg, 0deg);
  -ms-transform: skew(60deg, 0deg);
  -o-transform: skew(60deg, 0deg);
  transform: skew(60deg, 0deg);
  z-index: -1;
}

.chevron:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  height: 50%;
  width: 100%;
  background: #f06966;
  -webkit-transform: skew(-60deg, 0deg);
  -moz-transform: skew(-60deg, 0deg);
  -ms-transform: skew(-60deg, 0deg);
  -o-transform: skew(-60deg, 0deg);
  transform: skew(-60deg, 0deg);
  z-index: -1;
}
